.principal{
  background-image: linear-gradient(rgb(126, 167, 255),rgb(38, 114, 255));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-direction: column;
}

.formulario{
  padding:20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 20px;
  background: white;
}

.tabela{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 2px solid rgb(126, 167, 255);
  background: white;
}

.tabela thead tr{
  background-color: rgb(126, 167, 255);
  color: #ffffff;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tabela th{
  text-shadow: 1px 1px black;
}

.tabela th,
.tabela td {
    padding: 12px 15px;
}

.tabela tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tabela tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tabela tbody tr:last-of-type {
  border-bottom: 2px solid rgb(126, 167, 255);
}

.tabela tbody tr.active-row {
  font-weight: bold;
  color: rgb(126, 167, 255);
}

.formulario-data{
  height: 56px;
  padding: 10px;
  color: #999;
  font-weight: bold;
  width: 100%;
}

.formularioInput{
  height: 56px;
  padding: 10px;
  color: #999;
  font-weight: bold;
  width: 100%;
}

.tituloFormulario{
  font-family: "Roboto";
}

.textoFormulario{
  text-align: left;
  color: #1565c0;
  font-weight: bold;
  font-family: "Roboto";
}